
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Orbitron:wght@500;600;700&display=swap'); 

/*
font-family: 'Inter', sans-serif;
font-family: 'Orbitron', sans-serif;
*/

*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(/img/earth-1756274_1280.jpg);
    background-color: #606060;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* || RESET */

p,h1,h2,h3,h4,h5,h6,small{
  color:#f3f3f3
}